# Default ignored files
/shelf/
/workspace.xml

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environments
.env
venv/
ENV/
env/

# VSCode
.vscode/

# Mac/Windows
.DS_Store
Thumbs.db
